.btn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  cursor: pointer;
  color: #fff;
}
.arrow {
  position: relative;
  height: 100%;
  aspect-ratio: 45/81;
  width: auto;
}
.text {
  font-size: var(--font14);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn:hover .arrow {
  animation: arrowMove 0.3s both;
}

@keyframes arrowMove {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}
