.projets {
  padding-top: 149px;
  padding-bottom: 100px;
  position: relative;
}

.projets_wrapper {
  position: relative;
  z-index: 2;
}
.title {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 30px;
}
.title_h2 {
  margin-bottom: 0;
  font-size: var(--font45);
  font-weight: 100;
  font-weight: 200;
  letter-spacing: -0.11px;
  text-align: left;
}
.title_btn {
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
}
.arrow {
  position: relative;
  height: 100%;
  aspect-ratio: 45/81;
  width: auto;
}

.title_btn:hover .arrow {
  animation: arrowMove 0.3s both;
}

@keyframes arrowMove {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}

.body {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project_image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.project_info {
  font-size: var(--font14);
}
.shape {
  position: absolute;
  top: 15%;
  right: 10%;
  height: auto;
  width: 80%;
  margin: 0 auto;
  object-fit: contain;
  z-index: 1;
}

.display_block {
  display: none;
}
@media (max-width: 899px) {
  .display_block {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .display_none {
    display: none;
  }
  .projets {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .body {
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
  }
  .shape {
    top: 2%;
    width: 100%;
    right: -13%;
  }
}
@media (max-width: 520px) {
  .body {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
