.advantages {
  padding-top: 174px;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
}
.content_wrapper {
  position: relative;
}
.title {
  font-size: var(--font12);
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.25em;
}
.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
  z-index: 2;
}
.card {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card_title {
  font-size: var(--font45);
  font-weight: 100;
  white-space: pre-line;
}
.card_info {
  font-size: var(--font14);
  color: #999999;
  font-weight: 300;
}
.content_image {
  position: absolute;
  bottom: -11%;
  right: 0%;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}
@media (max-width: 1199px) {
  .advantages {
    padding-top: 50px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 40px;
  }
  .content_image {
    top: -4%;
    right: -19%;
  }
  .card {
    gap: 15px;
    max-width: 100%;
  }
}
