/* @font-face {
  font-family: "YourFontName";
  src: url("../assets/Onest/Onest-VariableFont_wght.ttf") format("ttf"),
    url("../assets/Onest/static/Onest-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
} */
