.map {
  position: relative;
  z-index: 2;
}

.inner_map {
  height: 400px;
}

.inner_map canvas {
  filter: grayscale(100%);
}
.inner_map [class*="ground-pane"] {
  filter: grayscale(1) invert(1) brightness(1);
}

@media (max-width: 767px) {
  .inner_map {
    height: 300px;
  }
}
