.btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font14);
  gap: 15px;
  width: max-content;
  white-space: nowrap;
}
.arrow {
  transform: rotate(180deg);
  height: 100%;
  aspect-ratio: 45/81;
  width: auto;
  position: relative;
}

.btn:hover .arrow {
  animation: arrowMove 0.3s both;
}

@keyframes arrowMove {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}
