.sideBarLang {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ccc65a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.sidebarBtn {
  color: #808080;
  font-size: var(--font14);
  font-weight: 300;
  text-transform: uppercase;
}
.active {
  color: #ffffff;
}
